extends ../layout/layout.pug

block content
    h1 login

    if errors 
      each error in errors
        .alert.alert-danger=error

    form(action="/auth/login", method="POST")
        label(for = email) Email 
        input#email(type="email" name="email" value= values ? values.email : "")
        label(for = password) Password 
        input#password(type="password" name="password" value= values ? values.password : "")
        button login